@import "./typography.css";

:root {
  color-scheme: light dark;
  --color-bg: #f9f6ef;
  --color-dark: #282828;
  --color-link: #193497;
  --color-muted-text: #404040;
  --color-dark-link: #eda398;
  --color-dark-muted-text: #d4d4d4;
  --font-sans: var(--font-geist, ui-sans-serif, system-ui, sans-serif);
  --font-body: "Figtree", ui-sans-serif, system-ui, sans-serif;
  --font-heading: "Montagu Slab", Georgia, serif;
}

.dark {
  color-scheme: dark;
}
.light {
  color-scheme: light;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}

.link,
.prose :where(a):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  color: var(--color-link);
  font-weight: 600;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration: none;
}
.link code {
  font-weight: 600;
}

.link:hover {
   color: var(--color-dark);
}

.dark .link,
.dark .prose :where(a):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  color: var(--color-dark-link);
  text-decoration-color: var(--color-dark-link);
}

.dark .link:hover {
  color: var(--color-bg);
}
