---
import BaseLayout from "../layouts/BaseLayout.astro";

import Posts from "../components/Posts.astro";
import Projects from "../components/Projects.astro";
import SeoPage from "../components/SeoPage.astro";
import SocialLinks from "../components/SocialLinks.astro";
---

<BaseLayout>
  <SeoPage slot="head" />
  <div>
    <Posts />
    <div class="section-gap">
      <Projects />
    </div>

  </div>
</BaseLayout>

<style>
  .divider {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .section-gap {
    margin-top: 3rem;
  }
</style>
