---
---

<header>
	<div class="header-inner">
		<p>Cassigs Studio</p>
	</div>
</header>

<style>
	header {
		width: 100%;
		margin-top: var(--space-5);
	}

	.header-inner {
		width: 90%;
		max-width: 1400px;
		margin: 0 auto;
		text-align: center;
		border-top: 1px solid var(--color-black);
		border-bottom: 1px solid var(--color-black);
		padding: var(--space-2) 0;
	}

	p {
		font-weight: bold;
		color: var(--color-black);
		font-size: var(--font-size-3);
	}
</style>
