---
import { NAV_LINKS, SITE } from "../siteConfig.ts";

import SocialLinks from "./SocialLinks.astro";
---

<header>
  <a href="/" class="site-title">{SITE.title}</a>
  <nav>
    <ul class="nav-list">
      {
        Object.values(NAV_LINKS).map((navItem) => {
          return (
            <li>
              <a href={navItem.path} class="link">
                {navItem.label}
              </a>
            </li>
          );
        })
      }
    </ul>
  </nav>
  <SocialLinks />
</header>

<style>
  header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem;
  }
  @media (min-width: 640px) {
    header {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      flex-shrink: 0;
      padding: 1.5rem 1rem;
      gap: 1.5rem;
      position: sticky;
      top: 0;
      height: 100vh;
    }
  }
  .site-title {
    font-size: 3rem;
    line-height: 3.25rem;
    font-weight: 600;
    color: var(--color-dark);
    text-decoration: none;
    font-family: var(--font-heading);
    text-transform: uppercase;
  }
  :global(.dark) .site-title {
    color: #fff;
  }
  .nav-list {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 0.5rem;
    padding: 0;
    margin: 0;
  }
  @media (min-width: 640px) {
    .nav-list {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
    }
  }
</style>
