---
import { getCollection } from "astro:content";
import Post from "./Post.astro";

const posts = (await getCollection("posts")).sort(
  (a, b) => b.data.publicationDate.valueOf() - a.data.publicationDate.valueOf(),
);
---

<section>
  <div class="prose dark:prose-invert prose-neutral section-heading">
    <h2>Posts</h2>
  </div>
  <ul class="post-list">
    {posts.map((post) => <Post post={post} />)}
  </ul>
</section>

<style>
  .section-heading {
    margin-bottom: 0.75rem;
  }
  .post-list {
    display: grid;
    list-style: none;
    gap: 1rem;
    padding: 0;
    margin: 0;
  }
</style>
