---
import { getCollection } from "astro:content";
import ExternalLink from "./ExternalLink.astro";

const projects = await getCollection("projects");
---

<section>
  <div class="prose dark:prose-invert prose-neutral section-heading">
    <h2>Projects</h2>
  </div>
  <ul class="project-list">
    {
      projects.map((project) => (
        <ExternalLink href={project.data.href}>
          {project.data.title}
        </ExternalLink>
      ))
    }
  </ul>
</section>

<style>
  .section-heading {
    margin-bottom: 0.75rem;
  }
  .project-list {
    display: grid;
    list-style: none;
    gap: 1rem;
    padding: 0;
    margin: 0;
  }
</style>
