---
import { SOCIAL_LINKS } from "@/siteConfig";

import ExternalLink from "@/components/ExternalLink.astro";
---

<section>
  <div class="prose dark:prose-invert prose-neutral section-heading">
    <h2>Contact</h2>
  </div>
  <ul class="social-list">
    {
      Object.values(SOCIAL_LINKS).map((socialLink) => {
        return (
          <ExternalLink href={socialLink.href}>{socialLink.label}</ExternalLink>
        );
      })
    }
  </ul>
</section>

<style>
  .section-heading {
    margin-bottom: 0.75rem;
  }
  .social-list {
    display: grid;
    list-style: none;
    gap: 1rem;
    padding: 0;
    margin: 0;
  }
</style>
