---
import "../styles/global.css";

import { SITE } from "../siteConfig";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
---

<html lang={SITE.locale}>
  <BaseHead>
    <slot name="head" />
  </BaseHead>
  <body>
    <Navigation />
    <div class="page-wrapper">
      <main class="page-main">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>

<style is:global>
  body {
    background-color: var(--color-bg);
    font-family: var(--font-sans);
  }
  .dark body {
    background-color: var(--color-dark-bg);
  }
</style>

<style>
  .page-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 640px;
    padding: 0.75rem;
  }
  @media (min-width: 640px) {
    .page-wrapper {
      padding: 1.5rem;
    }
  }
  .page-main {
    min-height: 80vh;
  }
</style>
